*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/assetWizardSettings.xml
.idea/codeStyles/
.idea/gradle.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/libs/
app/src/androidTest/
app/src/main/res/drawable-v24/
app/src/test/
emojislider/libs/
emojislider/src/androidTest/
emojislider/src/main/res/drawable/
emojislider/src/test/
